<% provide(:title, "Home") %>
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>水口が頑張ってつくってるで。</p>
<%= link_to "車番データ(未実装)", '#', class: 'btn btn-default' %>
<%= link_to "掲示板？(未実装)", '#', class: 'btn btn-default' %>
