<% provide(:title, '一括登録') %>
<%= javascript_include_tag "cars_bulk_new.js", 'data-turbolinks-track': 'reload', defer: true %>

<h1>新規作成</h1>
<p><%= link_to "インポートはこちら", cars_import_path %></p>

<%= render 'cars/bulk_form', cars_list:@form, path: cars_bulk_create_path, submit_text:"一括作成", form_data:{ turbo: false } %>
