<h1>車番データ一覧</h1>
<p class="btn-group container-fluid">
<% (1..9).each do |i| %>
  <%= link_to i, "#{cars_index_path}/#{i.to_s}", class:"btn btn-primary" %>
<% end %>
</p>

<%= render 'cars/table', find_list: @car_list %>
